.heading{
    height: 400px;
    background-position: center;
    background-size: cover;
}

.first{
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    float: left;
}

.second{
    font-size: 3rem;
    text-align: right;
}