#main_nav{
    background-color: #0d5615;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");}
body{
    background-color: #43853d;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}
.navbar-brand{
    
    font-family: 'Sonsie One', cursive;
    font-size: 30px;
}
.nav-link {
    font-family: 'Heebo', sans-serif;
    font-size: 29px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
}
