{% extends 'general/layout.html'%}
{% load static %}
{%block head%}
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Mitr&display=swap" rel="stylesheet">
<style>
    .heading{
      background-image: url({% static 'images/car1.jpg'%});
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{%endblock%}
{%block title%}ePool | Home{%endblock%}

{%block content%}
<div class="heading jumbotron text-light img-fluid mb-0 pb-0">
   <div class="container ml-5 mr-5">
     <p class="first ml-0 mr-0">
         Don't let that seat go empty<br>
         <span class="second ml-5">An initiative to incorporate carpooling in your daily routine</span>
    </p>
   </div>
</div>

<div class="container search mt-3">
    Search.Book.Travel
</div>

<div class="container mb-5 ride">
    <div class="row">
      <div class="col">
        <a href="" class="button">Find a ride</a>
      </div>
      <div class="col">
        <a href="" class="button">Offer a ride</a>
      </div>
    </div>
</div>

<div class="jumbotron info shadow-lg cnt" >
  <div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="head2">Looking for a vehicle?</h2>
            <p class="text-secondary txt">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
              Obcaecati quibusdam commodi, sunt explicabo corrupti doloremque! 
              Quibusdam quasi, rem fugit autem mollitia eligendi animi incidunt veniam necessitatibus eveniet quas deserunt et?
            </p>
        </div>
        <div class="col">
          <div class="container-fluid">
          <img src="{% static 'images/find1.jpg' %}" style="width: 600px; height: 400px; margin-right: 60px;" class="rounded">
          </div>
        </div>
    </div>
  </div>
</div>

<div class="jumbotron mt-5 info shadow-lg cnt">
    <div class="row">
        <div class="col">
          <div class="container-fluid">
            <img src="{% static 'images/offer.jpg' %}" class="rounded">
            </div>
        </div>
        <div class="col">
          <h2 class="head2">Plan to offer a ride?</h2>
          <p class="text-secondary txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Maxime, non excepturi. Vero totam assumenda voluptatem veniam 
            voluptatibus sint doloremque, laboriosam tempore eaque earum 
            alias voluptate optio harum molestias culpa. Impedit?
          </p>
        </div>
    </div>
</div>

{%endblock%}