{% extends 'general/layout.html'%}
{% load static %}
{%block head%}
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<style>
    .heading{
      background-image: url({% static 'images/car1.jpg'%});
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{%endblock%}
{%block title%}ePool | Home{%endblock%}

{%block content%}
<div class="heading jumbotron text-light img-fluid">
   <div class="container ml-5 mr-5">
     <p class="first ml-0 mr-0">
         Don't let that seat go empty<br>
         <span class="second ml-5">An initiative to incorporate carpooling in your daily routine</span>
    </p>
   </div>
</div>

{%endblock%}