{% extends 'general/layout.html'%}
{%load static%}
{%block head%}
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/singup.css' %}">
{%endblock%}
{%block title%}ePool | Signup{%endblock%}

{%block content%}

<h1  id="mainh1">SIGNUP</h1>
<div class="container" style="margin-top:0;">
    <div class="jumbotron ml-auto mt-auto mb-5">
        <div class="row">
            <div class="col-5 mt-4">
                <img src="{%static 'images/sg.png'%}" class="" style="border-radius: 10px;">
                <p id="par">Come and be a part of this eco-friendly family.</p>
            </div>
            <div class="col-7">

            
        <form method="POST" action="" style="width: 50%;" class="ml-auto mr-auto">
            {%csrf_token%}
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp" placeholder="Pick a Username">
            </div>
            <div class="form-group mt-2">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" class="form-control" name="email" id="exampleInputPassword1" placeholder="Email">
            </div>
            <div class="form-group mt-2">
                <label for="exampleInputPassword1">Phone</label>
                <input type="email" class="form-control" name="phone" id="exampleInputPassword1" placeholder="Enter your phone number">
                <small>* Only visible when your accept a request.</small>
            </div>
            <div class="form-group mt-2">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password1" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group mt-2">
                <label for="exampleInputPassword2">Password again</label>
                <input type="password" class="form-control" name="password2" id="exampleInputPassword2" placeholder="Password again">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Occupation</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="occupation" aria-describedby="emailHelp" placeholder="Enter your occupation">
            </div>
            <label>Gender</label>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                  <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Gender</label>
                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option value="1">Female</option>
                    <option value="2">Male</option>
                    <option value="3">Others</option>
                  </select>
                </div>
                <div class="col-auto my-1">
                 
                </div>
                
              </div>
            <label for="exampleInputEmail1" class="d-block mt-3">Date of Birth</label>

            <div class="form -group form-row">
                
                <input class="col-3" type="text" class="form-control form-block" id="exampleInputEmail1" name="day" aria-describedby="emailHelp" placeholder="dd">
                <p class="col-1"> /</p>
                <input  class="col-3" type="text" class="form-control" id="exampleInputEmail1" name="month" aria-describedby="emailHelp" placeholder="mm">
                <p class="col-1"> /</p>
                <input  class="col-3" type="text" class="form-control" id="exampleInputEmail1" name="yea3" aria-describedby="emailHelp" placeholder="yyyy">

            </div>
           
           
            <button type="submit" class="btn btn-primary mt-5">Submit</button>
            <h5 class="mt-5">Already have an account? <a href="{%url 'login_page'%}">Login</a></h5>

        </form>
    </div>
</div>
    </div>
</div>
{%endblock%}